@tailwind base;
@tailwind components;
@tailwind utilities;
.header{
    @apply flex justify-between items-center h-16 w-full bg-transparent  pl-4 pr-4 shadow-sm backdrop-blur-md
}
.header{
    z-index: 1000;
}
.burgerMenu{
    @apply px-4 cursor-pointer md:hidden
}
.burgerMenu{
    color: #ccc;
}
.mainTitle{
    @apply flex  items-center text-2xl 
}
.mainTitle a{
   text-decoration: none;
   color: #ccc;
}
.Nav{
    @apply hidden md:block h-full
}
.Nav > ul{
    @apply hidden   h-full  text-white relative   md:flex items-center
}
.Nav > ul > li{
    margin-right: .5rem;
    height: 100%;
}
.Nav > ul > li > a{
    height: inherit;
    border-radius: 0;
    color: #ccc;
    text-transform: none;
}
.Nav > ul > li:last-child{
    margin-right: 0;
}
.cg {
    background: -webkit-linear-gradient(hsl(162, 100%, 58%), hsl(270, 73%, 53%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.CartWidget{
    color: #ccc;
}
.dropdown{
    position: absolute;
    width: 100%;
    background-color: #1c1c1c;
    z-index: 100;
    color: #ccc;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    text-align: left;
}
.dropdown li{
    padding: 1rem;
}
.open{
    position: absolute;
    width: 100%;
    top: 4rem;
    left: 0;
    transition: left .3s ease-out;
}
.disguise{
    position: absolute;
    width: 100%;
    top: 4rem;
    left:-100%;
    transition: left .3s ease-out;
}
@media (min-width: 768px) {
    .header{
        @apply fixed
    }
  }