@tailwind base;
@tailwind components;
@tailwind utilities;
.header{
    @apply flex justify-between items-center h-16 w-full bg-transparent  pl-4 pr-4 shadow-sm;
}
.header{
    z-index: 1000;
}
.burgerMenu{
    @apply flex items-center cursor-pointer md:hidden;
    color: #ccc;
}
.burgerMenu p{
    margin: 0;
}
.mainTitle{
    @apply flex  items-center text-2xl 
}
.mainTitle a{
   text-decoration: none;
   color: #ccc;
}
.Nav{
    @apply hidden md:block h-full
}
.Nav > ul{
    @apply hidden   h-full  text-white relative   md:flex items-center
}
.Nav > ul > li > a{
    border-radius: 0;
    color: #ccc;
    text-transform: none;
}
.Nav > ul > li:last-child{
    margin-right: 0;
}
.cg {
    background: -webkit-linear-gradient(hsl(162, 100%, 58%), hsl(270, 73%, 53%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.CartWidget{
    color: #ccc;
}
.info{
    @apply p-2;
    background: linear-gradient(135deg, #00aebb 0%, #52006d 100%);
}
.myBox{
    border-bottom: 2px solid transparent;
border-image: linear-gradient(
0.25turn,
rgba(56, 2, 155, 0),
hsl(162, 100%, 58%),
hsl(270, 73%, 53%),
rgba(56, 2, 155, 0)
);
border-image-slice: 1;
width: 100%;
margin-bottom: 1rem;
}
.liLinks{
    @apply flex items-center justify-evenly
}