.loading{
  @apply flex flex-col items-center justify-center text-center h-screen;
    z-index: 1100;
  }
  .cg {
    background: -webkit-linear-gradient(hsl(162, 100%, 58%), hsl(270, 73%, 53%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}