@tailwind base;
@tailwind components;
@tailwind utilities;
.footerFlex{
    @apply flex flex-col items-center justify-around text-center md:flex-row md:text-left ;
    
  }
  .footerMain{
    padding-top: 5.6rem;
      padding-bottom: 3rem;
      padding-left: 2rem;
      padding-right: 2rem;
  }
  .footerMain h4{
    color: #fff;
    padding: 1rem 0;
  }
  .footerMain p{
    color: #ccc;
  }
  .listLinks a{
    text-decoration: none;
    color: #ccc;
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  .copyright{
    text-align: center;
    margin-top: 3rem;
    padding: 3rem;
    background: -webkit-linear-gradient(hsl(162, 100%, 58%), hsl(270, 73%, 53%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .myBox{
    border-bottom: 2px solid transparent;
border-image: linear-gradient(
0.25turn,
rgba(56, 2, 155, 0),
hsl(162, 100%, 58%),
hsl(270, 73%, 53%),
rgba(56, 2, 155, 0)
);
border-image-slice: 1;
width: 100%;
margin-bottom: 1rem;
}
.cg {
    background: -webkit-linear-gradient(hsl(162, 100%, 58%), hsl(270, 73%, 53%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}