@tailwind base;
@tailwind components;
@tailwind utilities;
.container{
    width: 100%;
}
.countContainer{
    @apply flex flex-col items-center justify-between mt-4 md:flex-row;
    height: 40px;
}
.flexCount{
    @apply flex items-center justify-between mb-2 md:mb-0 md:mr-4;
}
.flexCount em{
    margin: 0 1rem;
    filter: drop-shadow(0 0 0.75rem hsl(270, 73%, 53%));
}
.btnAdd{
    border: 2px solid transparent;
border-image: linear-gradient(
to right bottom,
hsl(162, 100%, 58%),
hsl(270, 73%, 53%),
rgba(89, 1, 252, 0)
);
border-image-slice: 1;
    color:#ccc;
    padding: .5rem;
    border-radius: .5rem;
    transition: box-shadow .5s ease-out;
}
.btnRemove{
    border: 2px solid transparent;
border-image: linear-gradient(
to right bottom,
hsl(162, 100%, 58%),
hsl(270, 73%, 53%),
rgba(89, 1, 252, 0)
);
border-image-slice: 1;
    color:#ccc;
    padding: .5rem ;
    border-radius: .5rem;
    transition: box-shadow .5s ease-out;
}
.btnCart{
    @apply rounded-lg p-2;
    width: 100%;
    height: inherit;
    border: 2px solid transparent;
border-image: linear-gradient(
to right bottom,
hsl(162, 100%, 58%),
hsl(270, 73%, 53%),
rgba(89, 1, 252, 0)
);
border-image-slice: 1;
    color:#ccc;
    transition: box-shadow .8s ease-out;
}
.btnRemove:hover, .btnAdd:hover, .btnCart:hover{
    box-shadow: 1px 1px 30px 0px hsl(270, 73%, 53%);
    -webkit-box-shadow: 1px 1px 30px 0px hsl(270, 73%, 53%);
    -moz-box-shadow: 1px 1px 30px 0px hsl(270, 73%, 53%);
    transition: box-shadow .5s ease-out;
}