@tailwind base;
@tailwind components;
@tailwind utilities;
.container{
    position: relative;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 1rem;
    padding: 1rem;
    max-width: 998px;
    margin: 0 auto;
}
.title{
    @apply m-4 uppercase flex 
}